*{
    padding: 0;
    margin: 0;

}
body{
    font-size: 14px;
    box-sizing: border-box;
    background-color:  hsl(0, 0%, 8%);
    color: white;
    font-family: "inter";

  
}
.avatar{
    width: 70px;
    height: auto;
    border-radius: 50%;
    
    
   
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    

}
.card{
    background-color: hsl(0, 0%, 12%);
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    
}
h2{
    font-weight: 700;
    margin: 0.5rem;
}
.highlight{
    color: hsl(75, 94%, 57%);
    font-size: small;
}
.primary-text{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-size: small;
    font-weight: 400;
    color: #bab7b7;
    
}
ul{
    list-style: none;
}
li{
    background-color: hsl(0, 0%, 20%);
    margin-top: 0.9rem;
    padding: 0.8rem 4rem;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color:  hsl(75, 94%, 57%);
     transform: translateY(-2px);
}
li:active{
    text-emphasis: none;
    color: white;
    text-decoration: none;
    background-color: hsl(75, 94%, 57%);
}