*{
    padding: 0;
    margin: 0;

}
body{
    font-size: 14px;
    box-sizing: border-box;
    background-color:  hsl(0, 0%, 8%);
    color: white;

  
}
.avatar{
    width: 65px;
    height: auto;
    border-radius: 50%;
    
    
   
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    

}
.card{
    background-color: hsl(0, 0%, 12%);
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}